# raw data we want to predict
raw/

# (main) checkpoints
checkpoints/

# (main) dataset.py testing file

# (matlab-achieve) generated data by dataGenerator.m and dataGeneratorHelper.m
generated/
dataGeneratorHelper/

# compile file
**.asv
**__pycache__/
**.idea/
**.vscode/
**.DS_Store
