# raw data we want to predict
raw/

# generated data by dataGenerator.m and dataGeneratorHelper.m
# in branch matlab-achieve
generated/
dataGeneratorHelper/

# compile file
**.asv
**__pycache__/
**.idea/
**.vscode/
**.DS_Store
