# raw data we want to predict
raw/

# generated data by dataGenerator and dataGeneratorHelper
generated/
dataGeneratorHelper/

# MATLAB compile file
*.asv

# Pycharm compile file
.idea/

# VSCode compile file
.vscode/
